<div>
  <mat-card routerLink="/create/quiz">
    <mat-card-title>Create A Quiz</mat-card-title>
  </mat-card>
  <mat-card routerLink="/create/question">
    <mat-card-title>Create A Question</mat-card-title>
  </mat-card>
  <mat-card routerLink="/play">
    <mat-card-title>Play A Quiz</mat-card-title>
  </mat-card>
  <mat-card routerLink="/question-bank">
    <mat-card-title>Question Bank</mat-card-title>
  </mat-card>
  <mat-card routerLink="/quiz-bank">
    <mat-card-title>Quiz Bank</mat-card-title>
  </mat-card>
  <mat-card routerLink="/report">
    <mat-card-title>Reports</mat-card-title>
  </mat-card>
  <mat-card routerLink="/share/questions">
    <mat-card-title>Public Questions</mat-card-title>
  </mat-card>
  <mat-card routerLink="/share/quizzes">
    <mat-card-title>Public Quizzes</mat-card-title>
  </mat-card>
</div>
