<h1 mat-dialog-title>Question Bank</h1>
<mat-card *ngFor="let question of questionList">
  <mat-card-title>{{question.name}}</mat-card-title>
  <hr>
  <mat-card-content>
    <div>
      <h2>Question Text</h2>
      <p>"{{question.description}}"</p>
    </div>
    <div>
      <h2>Question Type</h2>
      <p>{{question.questionType}}</p>
    </div>
  </mat-card-content>
  <mat-card-footer>
    <div mat-dialog-actions>
      <button mat-raised-button color="primary" [mat-dialog-close]="question._id">Import</button>
    </div>
  </mat-card-footer>
</mat-card>
